@import "../../assets/sass/variables";
.hero {
  background-color: $breadcrumb-background;
  padding: 45px 0;
  height: 250px;
  position: relative;

  &__heading {
    color: $white;
    font-size: clamp(20px, 5vw, 50px);
    font-weight: 900;
    letter-spacing: 1px;
  }

  img {
    position: absolute;
    top: 20%;
    left: -5%;
    max-height: 200px;
    width: auto;
  }
}

@media (max-width: 992px) {
  .hero {
    height: 200px;
    img {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: 150px;
    border-radius: 10px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 100px;
    padding: 20px;
  }
}
