@import "../../assets/sass/variables";
.create {
  padding-top: 50px;
  height: 100dvh;
  &__label {
    border: 2px dashed $borderColor;
    padding: 30px 70px;
    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $white;
    }

    p {
      color: $borderColor;
    }

    input[type="file"] {
      display: none;
    }
  }

  &__share {
    text-align: center;
    margin-top: 70px;
    span {
      color: $white;
      font-size: 14px;
      margin: 40px 0;
    }
    p {
      // border: 2px solid $borderColor;
      // border-image: linear-gradient(
      //   $borderColor 30%,
      //   transparent 10%,
      //   $borderColor 30%,
      //   transparent 20%,
      //   $borderColor 40%,
      //   transparent 30%
      // );
      // border-image-slice: 3;
      padding: 20px 0;

      // background-image: linear-gradient($borderColor, transparent),
      //   linear-gradient(transparent, $borderColor),
      //   linear-gradient($borderColor, transparent),
      //   linear-gradient(transparent, $borderColor);
      // background-position: -20px 10px, 30px 50px, 100px -80px, -60px 20px;

      // &::after {
      //   content: "";
      //   width: 60%;
      //   background-color: $borderColor;
      //   height: 2px;
      //   display: block;
      //   margin: 10px auto;
      // }
      // &::before {
      //   content: "";
      //   width: 60%;
      //   background-color: $borderColor;
      //   height: 2px;
      //   display: block;
      //   margin: 10px auto;
      // }
    }
  }

  &__text {
    padding-right: 100px;
  }
  &__scrollDown {
    height: 100px;
    cursor: pointer;
    animation: ScrollDown 1s ease;
    animation-iteration-count: infinite;
  }
}

@media (max-width: 1200px) {
  .create {
    &__text {
      padding-right: 40px;
    }
  }
}
@media (max-width: 992px) {
  .create {
    &__label {
      margin-left: 10px;
    }
    &__text {
      padding-right: 10px;
    }
  }
}

// $borderColor 20%,
// transparent 20%,
// transparent 40%,
// $borderColor 40%,
// $borderColor 60%,
// transparent 60%,
// transparent 80%,
// $borderColor 80%

//Animation
@keyframes ScrollDown {
  0% {
    transform: translateY(-10px);
  }

  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5);
  }
  100% {
    transform: translateY(-10px);
  }
}
