//== Fonts
$fontFamily: "Adobe Clean", sans-serif;

//== Colors
$white: #fff;
$black: #000;
$bodyBgColor: #121212;
$sectionBgColor: #141414;
$inputBgHoverColor: #171717;
$inputBgColor: #1f1f1f;
$borderColor: #1bcc96;
$borderOpacityColor: rgba(#00ff99, 0.3);
$colorPrimary: #1bcc96;
$colorDanger: #fc4a4a;
$colorDangerOpacity: rgba(#fc4a4a, 0.15);
$greyTextColor: #a2a2a2;
$linkColor: #1ee3a7;
$colorsLoop: #ac72fd, #07c8c5, #ea5b7b, #48aefe, #ff737e, #f67879, #45aeff,
  #2ae1e6, #feb743, #ed6c89, #27d8ff, #58949c;
$inactiveColor: #d9d9d9;

//==Hushibul
$breadcrumb-background: #792ffe;
$breadcrumb-links: #ffc023;
